# macOS system files
.DS_Store

# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo (React Native)
.expo/
.expo-shared/
.cache/

# Editor folders
.vscode/
.idea/

# Editor swap/backup/temp files
*.swp
*.swo
*.bak
*.tmp
*.log

# Asset folders (if you want to ignore them)
src/assets/

# Build output (if generated)
dist/
build/
web-build/

.expo/
.expo-shared/

